@model insaatProjesi.Models.Entitiy.tbl_calisanlar
@{
    ViewBag.Title = "CalisanEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<h2>Çalışan Bilgisi Ekleme Ekranı</h2>

<form class="form-group" method="post">

    <input type="text" name="AdSoyad" class="form-control" placeholder="Ad Soyad Bilgisi Giriniz..." />
    <br />

    <input type="text" name="Gorev" class="form-control" placeholder="Görev Bilgisi Giriniz..." />
    <br />

    <input type="text" name="ResimUrl" class="form-control" placeholder="Resim URL'ni Giriniz..." />
    <br />

    <button class="btn btn-success">Kaydet</button>

</form>