@using insaatProjesi.Models.Entitiy
@model List<tbl_hizmetler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hizmet Bilgileri Düzenleme Sayfası</h2>
<br />
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>AÇIKLAMA</th>
        <th>RESİM</th>
        <th>SİL</th>
        <th>GUNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Baslik</td>
            <td>@x.Aciklama</td>
            <td>@x.Resim</td>
            <td><a href="/AdminHizmetler/HizmetSil/@x.ID" class="btn btn-danger">SİL</a></td>
            <td><a href="/AdminHizmetler/HizmetGetir/@x.ID" class="btn btn-primary">GÜNCELLE</a></td>
        </tr>
    }

</table>

<br />
<a href="/AdminHizmetler/HizmetEkle/" class="btn btn-success">Yeni Hizmet Bilgisi Ekleme İşlemi</a>

