@model insaatProjesi.Models.Entitiy.tbl_anasayfa
@{
    ViewBag.Title = "AnasayfaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<h2>Anasayfa Bilgisi Ekleme Ekranı</h2>

<form class="form-group" method="post">

    <input type="text" name="SliderFoto1" class="form-control" placeholder="Slider 1 Fotoğraf Gir..." />
    <br />

    <input type="text" name="SliderFoto2" class="form-control" placeholder="Slider 2 Fotoğraf Gir..." />
    <br />

    <input type="text" name="SliderFoto3" class="form-control" placeholder="Slider 3 Fotoğraf Gir..." />
    <br />

    <input type="text" name="Slider1Soz1" class="form-control" placeholder="Slider 1 Soz 1 Gir..." />
    <br />

    <input type="text" name="Slider1Soz2" class="form-control" placeholder="Slider 1 Soz 2 Gir..." />
    <br />

    <input type="text" name="Slider2Soz1" class="form-control" placeholder="Slider 2 Soz 1 Gir..." />
    <br />

    <input type="text" name="Slider2Soz2" class="form-control" placeholder="Slider 2 Soz 2 Gir..." />
    <br />

    <input type="text" name="Slider3Soz1" class="form-control" placeholder="Slider 3 Soz 1 Gir..." />
    <br />

    <input type="text" name="Slider3Soz2" class="form-control" placeholder="Slider 3 Soz 2 Gir..." />
    <br />

    <input type="text" name="Baslik1" class="form-control" placeholder="1.Başlık..." />
    <br />

<textarea name="Aciklama1" class="form-control" placeholder="1. Açıklama..." rows="4" style="font-size: 18px; padding: 10px;"></textarea>
    <br />

    <input type="text" name="Baslik2" class="form-control" placeholder="2.Başlık..." />
    <br />

<textarea name="Aciklama2" class="form-control" placeholder="2. Açıklama..." rows="4" style="font-size: 18px; padding: 10px;"></textarea>
    <br />

    <input type="text" name="Baslik3" class="form-control" placeholder="3.Başlık..." />
    <br />

<textarea name="Aciklama3" class="form-control" placeholder="3. Açıklama..." rows="4" style="font-size: 18px; padding: 10px;"></textarea>
    <br />

    <input type="text" name="VideoLink" class="form-control" placeholder="Video Linki..." />
    <br />

    <input type="text" name="Yorumcu1Ad" class="form-control" placeholder="1.Yorumcu Ad..." />
    <br />

    <input type="text" name="Yorumcu1Meslek" class="form-control" placeholder="1.Yorumcu Meslek..." />
    <br />

    <textarea name="Yorumcu1Yorum" class="form-control" placeholder="1.Yorumcu Yorum..." rows="4" style="font-size: 18px; padding: 10px;"></textarea>
    <br />

    <input type="text" name="Yorumcu2Ad" class="form-control" placeholder="2.Yorumcu Ad..." />
    <br />

    <input type="text" name="Yorumcu2Meslek" class="form-control" placeholder="2.Yorumcu Meslek..." />
    <br />

    <textarea name="Yorumcu2Yorum" class="form-control" placeholder="2.Yorumcu Yorum..." rows="4" style="font-size: 18px; padding: 10px;"></textarea>
    <br />

    <input type="text" name="Yorumcu3Ad" class="form-control" placeholder="3.Yorumcu Ad..." />
    <br />

    <input type="text" name="Yorumcu3Meslek" class="form-control" placeholder="3.Yorumcu Meslek..." />
    <br />

    <textarea name="Yorumcu3Yorum" class="form-control" placeholder="3.Yorumcu Yorum..." rows="4" style="font-size: 18px; padding: 10px;"></textarea>
    <br />


    <button class="btn btn-success">Kaydet</button>

</form>

