@using insaatProjesi.Models.Entitiy
@model List<tbl_iletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>İletişim Bilgileri Düzenleme Sayfası</h2>
<br />
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>KONUM</th>
        <th>TELEFON</th>
        <th>MAİL</th>
        <th>SİL</th>
        <th>GUNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.ID</td>
        <td>@x.Konum</td>
        <td>@x.Telefon</td>
        <td>@x.Mail</td>
        <td><a href="/AdminIletisim/IletisimSil/@x.ID" class="btn btn-danger">SİL</a></td>
        <td><a href="/AdminIletisim/IletisimBilgileriGetir/@x.ID" class="btn btn-primary">GÜNCELLE</a></td>
    </tr>
    }

</table>

<br />
<a href="/AdminIletisim/IletisimBilgileriEkle/" class="btn btn-success">Yeni İletişim Bilgisi Ekleme İşlemi</a>